#productos-contenedor {
    margin: 8rem 0.5rem 0.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    justify-content: center;
    gap: 2rem;
    /* grid-template-rows: 1fr auto auto; */
}