/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */ 

.contenedor {
    margin: 100px auto 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: min(90%, 800px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.foto-perfil {
    text-align: center;
    margin-bottom: 20px;
}

.foto-perfil img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.formulario-grupo {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 2rem;
}

select,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 2rem;
}

button {
    width: 100%;
}
/* button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
} */

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

.div-pass {
    position: relative;
}
.div-pass label {
    position: absolute;
    right: 5px;
    bottom: 4px;
    font-size: 3rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
    }
}