/* CONVERSIÓN */
/* Creamos un estandar para que el contenido se vea en todos los navegadores igual */

/* Convertimos a 10px el rem */
html{
  font-size: 62.5%;

  /* Cuando le damos a un elemento unancho y un alto, en realidad
  se lo estamos dando al content, a este valor tendríamos que añadir
  el resto de partes del área del elemento que ya hemos visto */
  box-sizing: border-box;
}

  /* Con esto, cuando le damos un un ancho o alto a un elemento, tendrá en cuenta el 
  padding y el border, por lo que el total será 
  el que le demos de ancho o alto */
*,*:before, *:after{
  box-sizing: inherit;
}

/* Y ahora le volvemos a asignar el valor de 16px */
body {
  font-size: 16px;
  font-family: var(--fuente-principal);
  background-color: var(--blanco);
}
/* *************************** */

.contenedor {
  max-width: 100rem;
  /* El auto se reparte de forma igual el horizontal, en este caso la distancia que le hayamos dicho */
  margin: 1rem auto;
}

.sombra{
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  border-radius: 1rem;
  padding: 2rem;
}

.boton{
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem 3rem;

  background-color: var(--secundario);
  color: var(--principal);
  font-weight: var(--forma-negrita);
  border-radius: 0.5rem;
  font-size: 2rem;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}

.boton:hover{
  font-weight: var(--forma-negrita);
  background-color: var(--secundario-oscuro);
  color: var(--blanco);
}

@media (width <= 768px) {
  .boton{
    width: 80%;
    
  }
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 1.5rem;
  color: var(--secundario-oscuro);
}

h1,h2,h3{
  text-align: center;
}

p{
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.cabecera{
  text-align: center;
  text-transform: uppercase;
  
  font-style: var(--estilo-principal);
  color: var(--principal);
  /* Dejarlo con menos margen */
  /* Serían 10px vertical y 0px horizontal */
  margin: 1rem 0;
}

.nav-fondo{
  background-color: var(--secundario);
}

.nav-cabecera {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.nav-cabecera a {
  /* padding: 2rem; */

  /* mirar esto */
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* mirar esto */

  color: var(--principal);
  text-decoration: none;
  text-transform: capitalize;
  width: 20%;
  text-align: center;
  
  /* Animamos la animación del nav*/
  transition: all 0.3s ease-in-out;
}

.nav-cabecera a:hover{
  /* padding: 1rem; */
  font-weight: var(--forma-negrita);
  background-color: var(--secundario-oscuro);
  color: var(--blanco);
  
  /* Le damos más tamaño al pulsar por encima */
  font-size: 1.8rem;
}

.cabecera-fondo{
  background-image: url(/02_WebEpsilon/img/fondo.jpg);

  /* En el caso de que se repita la imagen */
  /* background-repeat: no-repeat; */

  /*  */
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 45rem;

  
}


.cabecera-contenido{
  /* position: absolute; */
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.cabecera-contenido h2, .cabecera-contenido p{
  color: var(--blanco);
}

.cabecera-contenido h2 {
  
  text-transform: uppercase;
  font-weight: var(--forma-negrita);
}

.mod-formativos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1fr;
  
}

.fondo-iconos{
  background-color: var(--secundario);
  display: flex;
  height: 10rem;
  width: 10rem;
  border-radius: 50px;
  justify-content: center;
  
}

/* .fondo-iconos svg{
  justify-self: center;
} */

.mod-formativos svg{
  height: 6rem;
  width: 6rem;
  align-self: center;
  
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  text-align: center;
}

/* Mdia Queries */
@media (max-width:768px) {
  .nav-cabecera{
    flex-direction: column;
  }

  .nav-cabecera a{
    
    width: 100%;
    transition: none;
  }
}