# Activa el motor de reescritura
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todas las solicitudes a index.php, pongas lo que pongas en el navegador
RewriteRule ^.*$ index.php [QSA,L]