html {
   background-color: aquamarine;
}
/* Una forma visual de visualizar todas las cajas */
*{
   outline: 1px solid black;
   margin: 5px;
   padding: 5px;
   /* Calc sirve para hacer cálculos */
   width: calc(100% - 10px);
}

/* Para que se ajuste a la caja padre */
*, *:before, *:after {
   box-sizing: inherit;
}

body{
   background-color: white;
}

.agua{
   background-color: aqua;
}

.rosa{
   background-color: pink;
}
.violeta{
   background-color: violet;
}
.gris{
   background-color: gray;
}

.por-texto{
   background-color: violet;
}

.caja13{
   background-color: black;
   color: white;
}

#caja-clonada{
   background-color: chocolate;
}

input{
   display: block;
}