:root{
    --primario: #000000;
    --secundario: #3e0091;
    --blanco: #fff;
    --seleccionado: yellow;
    --fondo-claro: #f8f8f8;
    --fondo-oscuro: rgba(0,0,0,0.7);
    --fondo-boton-azul: #1e0051;

    /* Fuentes */
    --fuente-principal: "Balsamiq Sans", serif;
    --forma-principal: 400;
    --forma-negrita: 700;
    --estilo-principal: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fuente-principal);
    font-style: var(--estilo-principal);
    font-size: var(--forma-principal);
}

/* HEADER */


header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    background-color: var(--secundario);
}

.logo{
    grid-column: 1fr;
    width: 70px;
    height: 70px;
}
.busqueda{
    display: flex;
    align-items: center;
    background-color: var(--blanco);
    border-radius: 5px;
    /* height: 200px; */
    height: 50px;
}

li{
    list-style-type: none;
    display: inline;
}

a{
    color: var(--blanco);
    text-decoration: none;
}

.seleccionado{
    border-bottom: 1px solid var(--seleccionado);
}


/* BODY */

.productos{
    /* height: 90vh; */
    /* height: 100%; */
}

.hero{
    width: 100%;
}
/* FOOTER */
footer{
    display: flex;
    text-align: center;
    /* height: 10vh; */
    background-color: var(--secundario);
}
span{
    color: var(--seleccionado);
}

.copyright p {
    color: var(--blanco);
}