html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    color: beige;
    text-align: center;
    padding-top: 10px;
}


h1 {
    margin: 0 0 10px 0;
    font-size: 3rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: beige;
    transition: all 0.3s ease-in-out;
    padding: 2px;
}

a:hover {
    color: yellow;
    border-bottom: 1px solid yellow;
}


.contenedor-main {
    height: 120rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-tareas {
    width: 50%;
    display: flex;
    flex-direction: column;
    column-gap: .5rem;
    max-height: 120rem;
    margin: .5rem;
    padding: 1rem;
    background-color: white;
    overflow-y:scroll;
}

.controles {
    display: flex;
    column-gap: .5rem;
    order: 2;
}

@media (max-width: 480px) {
    nav {
        grid-template-columns: 1fr;
        row-gap: .5rem;
    }

    .contenedor-main {
        height: 160rem;
        justify-content: flex-end;
    }
}

input, button {
    padding: .5rem;
    border-radius: .5rem;
}

button {
    background-color: green;
    color: beige;
    border: none;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: .5rem;
    order: 1;
}

li {
    background-color: lightgrey;
    padding: .5rem;
    text-transform: uppercase;
}

.nuevo {
    animation: nuevo 0.5s ease-in;
}

@keyframes nuevo {
    0% {
        background-color: green;
        transform: translateX(150%);
        opacity: 1;
    }
    100% {
        background-color: lightgrey;
        transform: translateX(0%);
        opacity: 0;
    }
}

.eliminar {
    animation: eliminar 0.5s ease-in;
}

@keyframes eliminar {
    0% {
        background-color: lightgrey;
        transform: translateX(0%);
        opacity: 0;
    }
    100% {
        background-color: red;
        transform: translateX(-150%);
        opacity: 1;
    }
}