body {
    background-color: rgb(114, 114, 113);
}
h1 {
    color: white;
    justify-content: center;
}
#calculator {
    padding: 10px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}
.resultado {
    background-color: rgb(166, 206, 206);
    grid-column: span 4;
    border: 2px solid black;
    height: 25px;
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 05px;
}
.tecla-doble {
    grid-column: span 2;
}

@media (min-width: 380px) {
    #calculator {
        max-width: 300px;
    }
}
