body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    user-select: none;
}

h1{
    margin-top: 20px;
    color: black;
}

#tablero {
    /* Margin es de él mismo */
    margin: 20px auto;
    /* Hijos */
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 5px;
    justify-content: center;
    width: 100%;
    max-width: 440px;
}

button{
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

button:hover{
    background-color: #1676d2;
}

.carta{
    width: 80px;
    height: 80px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.8s;
    
}

.carta-girada {
    background-color: white;
    transform: rotateY(180deg);
}

.carta-emparejada {
    background-color: #4caf50;
    color: white;
    /* Hace que ese elementono sea pulsable */
    pointer-events: none;
}