/* CONVERSIÓN */
/* Creamos un estandar para que el contenido se vea en todos los navegadores igual */

/* Convertimos a 10px el rem */
html{
  font-size: 62.5%;
}

/* Y ahora le volvemos a asignar el valor de 16px */
body {
  font-size: 16px;
}
/* ********** */

h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem; /* equivalente a 40px */
}

span{
  font-size: 2rem;
}

nav {
  text-align: center;
  background-color: var(--secundario);
}

