.hero {
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}
.onda {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 0;
}

.onda svg {
    display: block;
    width: 100%;
    height: 200px;
}

.onda svg path {
    fill: var(--secundario);
    animation: mover-onda 2s ease-in-out infinite alternate;
}

/* Animación */
@keyframes mover-onda {
  0% {
    d: path("M0,160 C360,280 1080,20 1440,160 L1440,320 L0,320 Z");
  }
  100% {
    d: path("M0,180 C360,20 1080,280 1440,120 L1440,320 L0,320 Z");
  }
}

.hero video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.oscurece-fondo {
    background-color: var(--fondo-oscuro);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-contenido {
    text-align: center;
    color: var(--blanco);
}

.hero-contenido h1 {
    font-size: 5rem;
}

.hero-contenido h2 {
    margin: 1rem;
    font-size: 3rem;
}
