#productos-contenedor {
  margin: 8rem 0.5rem 0.5rem 0.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  justify-content: center;
  gap: 2rem;
  grid-template-rows: 1fr auto auto;
}


.producto {
  width: 100%;
  margin: auto;
  padding: 1.5rem;
  background-color: var(--blanco);
  border-radius: 1rem;
  box-shadow: 0px 4px 6px var(--fondo-oscuro);
  cursor: pointer;
  grid-row: span 3;
  display: grid;
  grid-template-rows: subgrid;
  align-items: center;
}

.producto:hover {
  box-shadow: 0px 8px 16px var(--fondo-oscuro);
  /* transform: translateY(-5px); */
  transform: scale(1.02);
}

.producto img {
  width: 100%;
  border-radius: 1rem;
}
.producto img:hover {
  transform: scale(1.1);
}

.producto h2 {
  margin: 0;
}
.producto p {
  font-size: 2.2rem;
  color: var(--secundario);
  font-weight: bold;
}

/* A partir de aquí es el Detalle del producto */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contenido {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  width: min(95%, 800px);
  height: min(90%, 800px);
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  overflow-y: auto;
}

.modal-contenido h2 {
  margin: 10px;
  font-size: 3rem;
  text-align: center;
}

.modal-contenido ul {
  overflow: auto;
  list-style:none;
  padding: 10px 0;
  width: 90%;
}

.modal-contenido ul li {
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 95%;
}

.modal-contenido img {
  margin: auto;
  width: 100%;
  border-radius: 10px;
  display: block;
}

.modal-interior {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;

}
.modal-detalles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-contenido p{
  margin: 5px;
  font-size: 2.5rem;
}
.modal-detalles .detalles{
  color: var(--secundario);
}
#detalle-barcode{
  margin: 30px auto;
}
.modal-detalles .div-agregar{
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 20px;
  height: auto;
}
.modal-detalles .div-agregar input{
  width: 50px;
  height: 3rem;
  margin: 0;
  font-size: 2rem;
}

.close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  font-size: 1.5em;
  color: #333;
}

.close:hover {
  color: #ff0000;
}

.total {
  color: #046e04;
}


button {
  height: 3rem;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  background: var(--secundario);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: var(--fondo-boton-azul);
}

/* carrito */
ul#lista-carrito {
  display: grid;
  gap: 1rem;
  padding: 0;
  list-style: none;
  width: min(95%, 780px);
  margin: 0 auto;
}

ul#lista-carrito > li.carrito-item {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-columns: 1.4fr 1fr 1fr 3fr 1fr 2fr auto;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  padding: 1rem;
  margin: 0.2rem;
  border-radius: 12px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.1);
  font-family: sans-serif;
  width: 98%;
}

.carrito-item .item {
  color: var(--secundario);
  font-size: 2rem;
}

.item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 8px;
}

.carrito-item .item.nombre {
  grid-column: span 3;
  font-weight: bold;
}
.carrito-item .item.unidades {
  text-align: center;
}
.carrito-item .item.precio {
  text-align: right;
}

.carrito-item .eliminar-item {
  background-color: #ff4d4f;
  border: none;
  color: white;
  font-size: 3rem;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carrito-item .eliminar-item:hover {
  background-color: #d9363e;
}

.quita-producto-carrito {
  animation: elimina-carrito 1s ease-in-out;
}

@media (max-aspect-ratio: 1/1) {
  .modal-contenido {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: auto;
      height: 95%; /*min(90%, auto);*/
  }

  ul#lista-carrito > li.carrito-item {
    grid-template-columns: 1.4fr 1fr 1fr auto;
    grid-template-rows: repeat(2,1fr);
  }
.item-img {
  grid-row: span 2;
}

  .modal-interior {
      grid-template-columns: 1fr;
  }
  .close {
      position: fixed;
  }
}

.abrir-modal {
  animation: abre-modal 0.5s ease-in-out;
}

.abrir-modal-fondo {
  animation: abre-modal-fondo 0.5s ease-in-out;
}

.cerrar-modal {
  animation: cierra-modal 0.6s ease-in-out;
}

.cerrar-modal-fondo {
  animation: cierra-modal-fondo 0.6s ease-in-out;
}

.agregar-carrito {
  animation: agrega-carrito 0.5s ease-in-out;
}

.vibrar {
  animation: vibra 1s ease-in-out;
}

@keyframes abre-modal {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0%);
  }
}

@keyframes abre-modal-fondo {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes abre-modal2 {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes agrega-carrito {
  0% {
      transform: scale(1);
  }
  100% {
      transform-origin: top right;
      transform: scale(0) translate(600%, -600%);
  }
}


@keyframes cierra-modal {
  0% {
      transform: translateY(0%);
  }
  100% {
      transform: translateY(-100%);
      opacity: 0;
  }
}

@keyframes cierra-modal-fondo {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes cierra-modal2 {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(0);
  }
}
@keyframes vibra {
  0% {
      transform: translateY(0px);
  }
  10% {
      transform: translateY(-10px);
  }
  20% {
      transform: translateY(10px);
  }
  30% {
      transform: translateY(-10px);
  }
  40% {
      transform: translateY(10px);
  }
  50% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(10px);
  }
  70% {
      transform: translateY(-10px);
  }
  80% {
      transform: translateY(10px);
  }
  90% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0px);
  }
}

@keyframes elimina-carrito {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}