/* Una forma visual de visualizar todas las cajas */
*{
   outline: 1px solid black;
   margin: 5px;
   padding: 5px;
}

html {
   background-color: aquamarine;
}

body{
   background-color: white;
}

.agua{
   background-color: aqua;
}

.rosa{
   background-color: pink;
}

.por-texto{
   background-color: violet;
}

.caja13{
   background-color: black;
   color: white;
}